{% extends "base.html" %}
{% block content %}
    <h4 class="text-center">Удаление рекламации</h4>
    <div class="col-12 col-md-6 offset-md-3 mt-3">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <h3>Вы действительно хотите удалить данную рекламацию?</h3>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Подтвердить</button>
                <a class="btn btn-info" href="/complaints/{{ object.pk }}">Назад</a>
            </div>
        </form>
    </div>
{% endblock content %}
