{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-12 my-4">
            <h5 class="text-center">Подробнее о машине:</h5>
            <div class="card-new p-3">
                <div class="mb-3">
                    <a href="/user_index" class="btn btn-primary">Назад</a>
                    {% if perms.silant.change_car %}
                        <a href="/cars/edit/{{ car.pk }}" class="btn btn-info">Редактировать</a>
                    {% endif %}
                    {% if perms.silant.delete_car %}
                        <a href="/cars/delete/{{ car.pk }}" class="btn btn-danger">Удалить</a>
                    {% endif %}
                </div>
                <table class="table table-hover">
                    <tr><td>Зав. № машины:</td><td>{{ car.vin }}</td></tr>
                    <tr><td>Модель техники:</td><td><a href="#" data-bs-toggle="modal" data-bs-target="#vehicle_model">
                        <b>{{ car.vehicle_model.name }}</b></a></td></tr>
                    <tr><td>Модель двигателя:</td><td><a href="#" data-bs-toggle="modal" data-bs-target="#engine_model">
                        <b>{{ car.engine_model.name }}</b></a></td></tr>
                    <tr><td>Зав. № двигателя:</td><td>{{ car.engine_number }}</td></tr>
                    <tr><td>Модель трансмиссии:</td><td><a href="#" data-bs-toggle="modal" data-bs-target="#transmission_model">
                        <b>{{ car.transmission_model.name }}</b></a></td></tr>
                    <tr><td>Зав. № трансмиссии:</td><td>{{ car.transmission_number }}</td></tr>
                    <tr><td>Модель ведущего моста:</td><td><a href="#" data-bs-toggle="modal" data-bs-target="#drive_axle_model">
                        <b>{{ car.drive_axle.name }}</b></a></td></tr>
                    <tr><td>Зав. № ведущего моста:</td><td>{{ car.drive_axle_number }}</td></tr>
                    <tr><td>Модель управляемого моста:</td>
                        <td><a href="#" data-bs-toggle="modal" data-bs-target="#steerable_axle_model">
                            <b>{{ car.steering_axle.name }}</b></a></td></tr>
                    <tr><td>Зав. № управляемого моста:</td><td>{{ car.steering_axle_number }}</td></tr>
                    <tr><td>Договор поставки №, дата:</td><td>{% if car.supply_agreement %}{{ car.supply_agreement }}
                        {% else %}Отсутствует{% endif %}</td></tr>
                    <tr><td>Дата отгрузки с завода:</td><td>{% if car.shipment_date %}
                        {{ car.shipment_date|date:"d.m.Y" }}{% else %}Отсутствует{% endif %}</td></tr>
                    <tr><td>Грузополучатель:</td><td>{% if car.consignee %}{{ car.consignee }}{% else %}Отсутствует{% endif %}</td></tr>
                    <tr><td>Адрес поставки (эксплуатации):</td><td>{% if car.delivery_address %}{{ car.delivery_address }}
                        {% else %}Отсутствует{% endif %}</td></tr>
                    <tr><td>Комплектация (доп. опции):</td><td>{% if car.equipment %}{{ car.equipment }}{% else %}Отсутствует
                        {% endif %}</td></tr>
                    <tr><td>Клиент:</td><td>{% if car.user %}{{ car.user }}{% else %}Отсутствует{% endif %}</td></tr>
                    <tr><td>Сервисная организация:</td><td>{% if car.service_company.name %}<a href="#" data-bs-toggle="modal" data-bs-target="#service_company"><b>{{ car.service_company.name }}</b></a>{% else %}Отсутствует
                        {% endif %}</td></tr>
                </table>
            </div>
        </div>
    <br>

    <div class="modal" tabindex="-1" id="vehicle_model">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            Описание из справочника:<br><br>
            {% if car.vehicle_model.description %}
                {{ car.vehicle_model.description }}
            {% else %}
                Описание отсутствует
            {% endif %}
            <br><br><button type="button" class="button medium" data-bs-dismiss="modal">Закрыть</button>
        </div>
        </div>
    </div>
    </div>
    <div class="modal" tabindex="-1" id="engine_model">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            Описание из справочника:<br><br>
            {% if car.engine_model.description %}
                {{ car.engine_model.description }}
            {% else %}
                Описание отсутствует
            {% endif %}
            <br><br><button type="button" class="button medium" data-bs-dismiss="modal">Закрыть</button>
        </div>
        </div>
    </div>
    </div>
    <div class="modal" tabindex="-1" id="transmission_model">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            Описание из справочника:<br><br>
            {% if car.transmission_model.description %}
                {{ car.transmission_model.description }}
            {% else %}
                Описание отсутствует
            {% endif %}
            <br><br><button type="button" class="button medium" data-bs-dismiss="modal">Закрыть</button>
        </div>
        </div>
    </div>
    </div>
    <div class="modal" tabindex="-1" id="drive_axle_model">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            Описание из справочника:<br><br>
            {% if car.drive_axle_model.description %}
                {{ car.drive_axle_model.description }}
            {% else %}
                Описание отсутствует
            {% endif %}
            <br><br><button type="button" class="button medium" data-bs-dismiss="modal">Закрыть</button>
        </div>
        </div>
    </div>
    </div>
    <div class="modal" tabindex="-1" id="steerable_axle_model">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            Описание из справочника:<br><br>
            {% if car.steerable_axle_model.description %}
                {{ car.steerable_axle_model.description }}
            {% else %}
                Описание отсутствует
            {% endif %}
            <br><br><button type="button" class="button medium" data-bs-dismiss="modal">Закрыть</button>
        </div>
        </div>
    </div>
    </div>
    <div class="modal" tabindex="-1" id="service_company">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            Описание из справочника:<br><br>
            {% if car.service_company.description %}
                {{ car.service_company.description }}
            {% else %}
                Описание отсутствует
            {% endif %}
            <br><br><button type="button" class="button medium" data-bs-dismiss="modal">Закрыть</button>
        </div>
        </div>
    </div>
    </div>
{% endblock content %}
