{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
    <div class="row">
        <div class="col-12 my-4">
            <div class="card-new p-3">
                <div class="d-flex justify-content-around">
                    <a href="/user_index" class="pt-0 h3 text-uppercase nav-link {% if request.path|slice:":11" == '/user_index' %}font-weight-bold text-info{% else %}text-dark{% endif %}">машины</a>
                    <a href="/maintenance" class="pt-0 h3 text-uppercase nav-link {% if request.path|slice:":12" == '/maintenance' %}font-weight-bold text-info{% else %}text-dark{% endif %}">то</a>
                    <a href="/complaints" class="pt-0 h3 text-uppercase nav-link {% if request.path|slice:":12" == '/complaints' %}font-weight-bold text-info{% else %}text-dark{% endif %}">рекламации</a>
                </div>
                <h4 class="text-center my-3">Информация о комплектации и технических характеристиках вашей техники</h4>

                <div class="d-flex justify-content-between align-items-end mb-2">
                    <div>
                        <span class="select_name">машина</span>
                        <select class="form-control" onchange="setFilter_vm(this.value);">
                            <option value="{{ vm }}">&nbsp;{{ vm }}&nbsp;</option>
                            {% for item in vehicle_model %}
                                <option value="{{ item }}">&nbsp;{{ item }}&nbsp;</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <span class="select_name">двигатель</span>
                        <select class="form-control" onchange="setFilter_em(this.value);">
                            <option value="{{ em }}">&nbsp;{{ em }}&nbsp;</option>
                            {% for item in engine_model %}
                                <option value="{{ item }}">&nbsp;{{ item }}&nbsp;</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <span class="select_name">трансмиссия</span>
                        <select class="form-control" onchange="setFilter_tr(this.value);">
                            <option value="{{ tr }}">&nbsp;{{ tr }}&nbsp;</option>
                            {% for item in transmission_model %}
                                <option value="{{ item }}">&nbsp;{{ item }}&nbsp;</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <span class="select_name">вед. мост</span>
                        <select class="form-control" onchange="setFilter_dam(this.value);">
                            <option value="{{ dam }}">&nbsp;{{ dam }}&nbsp;</option>
                            {% for item in drive_axle %}
                                <option value="{{ item }}">&nbsp;{{ item }}&nbsp;</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <span class="select_name">упр. мост</span>
                        <select class="form-control" onchange="setFilter_sam(this.value);">
                            <option value="{{ sam}}">&nbsp;{{ sam }}&nbsp;</option>
                            {% for item in steering_axle %}
                                <option value="{{ item }}">&nbsp;{{ item }}&nbsp;</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="">
                        <a title="Очистить фильтры" class="btn btn-primary" href="" role="button" onclick="reset(); return false">сбросить</a>
                    </div>
                </div>
                
                {% if cars %}
                    <table class="table table-hover text-sm">
                        <tr>
                <!--            <th><a href="?order_by=factory_number">&#9650; </a>№ маш.<br>-->
                            <th><a title="Сортировать" href="#" onclick="setOrder_by('?order_by=vin'); return false" >&#9650; </a>№ маш.<br>
                                <a title="Сортировать" href="#" onclick="setOrder_by('?order_by=vehicle_model'); return false" >&#9650; </a>Mодель</th>
                            <th><a title="Сортировать" href="#" onclick="setOrder_by('?order_by=engine_model'); return false" >&#9650; </a>Модель двиг.<br>
                                <a title="Сортировать" href="#" onclick="setOrder_by('?order_by=engine_number'); return false" >&#9650; </a>№ двигателя</th>
                            <th><a title="Сортировать" href="#" onclick="setOrder_by('?order_by=transmission_model'); return false" >&#9650; </a>Модель трансм.<br>
                                <a title="Сортировать" href="#" onclick="setOrder_by('?order_by=transmission_number'); return false" >&#9650; </a>№ трансмиссии</th>
                            <th><a title="Сортировать" href="#" onclick="setOrder_by('?order_by=drive_axle'); return false" >&#9650; </a>Модель вед. моста<br>
                                <a title="Сортировать" href="#" onclick="setOrder_by('?order_by=drive_axle_number'); return false" >&#9650; </a>№ ведущего моста</th>
                            <th><a title="Сортировать" href="#" onclick="setOrder_by('?order_by=steering_axle'); return false" >&#9650; </a>Мод. упр-го моста<br>
                                <a title="Сортировать" href="#" onclick="setOrder_by('?order_by=steering_axle_number'); return false" >&#9650; </a>№ упр-го моста</th>
                            <th><a title="Сортировать" href="#" onclick="setOrder_by('?order_by=supply_agreement'); return false" >&#9650; </a>Дог. поставки.<br>
                                <a title="Сортировать" href="#" onclick="setOrder_by('?order_by=shipment_date'); return false" >&#9650; </a>Дата отгрузки</th>
                            <th><a title="Сортировать" href="#" onclick="setOrder_by('?order_by=consignee'); return false" >&#9650; </a>Грузополучатель<br>
                                <a title="Сортировать" href="#" onclick="setOrder_by('?order_by=delivery_address'); return false" >&#9650; </a>Адрес поставки</th>
                            <th><a title="Сортировать" href="#" onclick="setOrder_by('?order_by=equipment'); return false" >&#9650; </a>Комплектация<br>(доп. опции)</th>
                            <th><a title="Сортировать" href="#" onclick="setOrder_by('?order_by=user'); return false" >&#9650; </a>Клиент<br>
                                <a title="Сортировать" href="#" onclick="setOrder_by('?order_by=service_company'); return false" >&#9650; </a>Сервисная организация</th>
                        </tr>
                        {% for car in cars %}
                            <tr>
                                <td><a href="/cars/{{ car.pk }}" class="nav-link">{{ car.vin }}</a><br>
                                    <a href="/cars/{{ car.pk }}" class="nav-link">{{ car.vehicle_model.name }}</a></td>
                                <td><a href="/cars/{{ car.pk }}" class="nav-link">{{ car.engine_model.name }}</a><br>
                                    <a href="/cars/{{ car.pk }}" class="nav-link">{{ car.engine_number }}</a></td>
                                <td><a href="/cars/{{ car.pk }}" class="nav-link">{{ car.transmission_model.name }}</a><br>
                                    <a href="/cars/{{ car.pk }}" class="nav-link">{{ car.transmission_number }}</a></td>
                                <td><a href="/cars/{{ car.pk }}" class="nav-link">{{ car.drive_axle.name }}</a><br>
                                    <a href="/cars/{{ car.pk }}" class="nav-link">{{ car.drive_axle_number }}</a></td>
                                <td><a href="/cars/{{ car.pk }}" class="nav-link">{{ car.steering_axle.name }}</a><br>
                                    <a href="/cars/{{ car.pk }}" class="nav-link">{{ car.steering_axle_number }}</a></td>
                                <td>{% if car.supply_agreement %}<a href="/cars/{{ car.pk }}" class="nav-link">{{ car.supply_agreement }}</a>{% else %}Отсутствует{% endif %}<br>
                                    {% if car.shipment_date %}<a href="/cars/{{ car.pk }}" class="nav-link">{{ car.shipment_date|date:"d.m.Y" }}</a>
                                    {% else %}Отсутствует{% endif %}</td>
                                <td>{% if car.consignee %}<a href="/cars/{{ car.pk }}" class="nav-link">{{ car.consignee }}{% else %}Отсутствует{% endif %}<br>
                                    {% if car.delivery_address %}<a href="/cars/{{ car.pk }}" class="nav-link">{{ car.delivery_address }}</a>{% else %}Отсутствует{% endif %}</td>
                                <td>{% if car.equipment %}<a href="/cars/{{ car.pk }}" class="nav-link">{{ car.equipment }}</a>{% else %}Отсутствует{% endif %}</td>
                                <td>{% if car.user %}<a href="/cars/{{ car.pk }}" class="nav-link">{{ car.user }}</a>{% else %}Отсутствует{% endif %}<br>
                                    {% if car.service_company %}<a href="/cars/{{ car.pk }}" class="nav-link">{{ car.service_company.name }}</a>{% else %}Отсутствует{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% if request.user|has_group:"manager" or request.user|has_group:"admin" %}
                        <div class="text-center">
                            <a class="btn btn-primary" href="/cars/new">Добавить запись по машине</a>
                            <a class="btn btn-primary" href="/lookups">Редактор справочников</a>
                        </div>
                    {% endif %}
                {% else %}
                    <h4 class="mt-4 text-info text-center">Данных о машине с таким заводским номером нет</h4>
                    {% if request.user|has_group:"manager" or request.user|has_group:"admin" %}
                        <div class="text-center">
                            <a class="btn btn-primary" href="/cars/new">Добавить запись по машине</a>
                            <a class="btn btn-primary" href="/lookups">Редактор справочников</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <script src="/static/js/userIndex.js"></script>
{% endblock %}
