{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
    <h4 class="text-center mt-4">Список моделей двигателей:</h4>
    <div class="col-12 col-md-6 offset-md-3 mt-3">
        <div class="card-new p-4">
            <a href="/lookups" class="btn btn-info mb-3">Назад</a>
            <a href="/lookups/engine_models/new" class="btn btn-success mb-3">Добавить</a>
            <table class="table table-hover">
                <tr>
                    <th>Наименование</th>
                    <th>Описание</th>
                    <th>Действия</th>
                </tr>
                {% for engine_model in engine_models %}
                    <tr>
                        <td>{{ engine_model.name }}</td>
                        <td>{{ engine_model.description }}</td>
                        <td><a href="/lookups/engine_models/edit/{{ engine_model.pk }}" class="btn btn-info">Изменить</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}
